#face {
  width: 22%;
  height: 22%;
  border-radius: 50%;
  filter: url("#duotone_peachypink") blur(1px);
}
#face:hover {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    filter: blur(5px);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    opacity: 1;
    filter: none;
  }
}
.svg-filters {
  height: 0;
  left: -9999em;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 0;
}